
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content{
    background-color: #d9d9d9;
    width: 750px;
    height: 500px;
    border-radius: 20px;
  }
}
